[submodule "open_manipulator"]
	path = open_manipulator
	url = https://github.com/ROBOTIS-GIT/open_manipulator.git
	branch = jazzy
[submodule "cyclo_control"]
	path = cyclo_control
	url = https://github.com/ROBOTIS-GIT/cyclo_control.git
