[submodule "open_manipulator"]
	path = open_manipulator
	url = https://github.com/ROBOTIS-GIT/open_manipulator.git
	branch = jazzy
[submodule "cyclo_control"]
	path = cyclo_control
	url = https://github.com/ROBOTIS-GIT/cyclo_control.git
[submodule "robotis_interfaces"]
	path = robotis_interfaces
	url = https://github.com/ROBOTIS-GIT/robotis_interfaces.git
	branch = main
[submodule "physical_ai_tools"]
	path = physical_ai_tools
	url = https://github.com/ROBOTIS-GIT/physical_ai_tools.git
	branch = jazzy
[submodule "usb_cam"]
	path = usb_cam
	url = https://github.com/ros-drivers/usb_cam
[submodule "yolo_ros"]
	path = yolo_ros
	url = https://github.com/mgonzs13/yolo_ros.git
